<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ctprojekt">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:installLocation="preferExternal"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTProjekt">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appId"/>
        <activity android:name=".goodlPlayServices.GoogleAPI">

        </activity>
        <activity android:name=".memory.Memory" />
        <activity android:name=".RigisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".GoogleSignInActivity" />
        <activity android:name=".flappybird.GameOverScreenFlappyBird"
            android:screenOrientation="landscape" />
        <activity android:name=".tictactoe.TicTacToeActionActivity" />
        <activity
            android:name=".flappybird.FlappyBirdActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".flappybird.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".snake.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".snake.SnakeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".tictactoe.TicTacToe" />
        <activity android:name=".Options" />
        <activity android:name=".cosmetic.Cosmetics" />
        <activity android:name=".MusicScreen" />
        <activity android:name=".memory.MemoryDifficulty" />
        <activity android:name=".cosmetic.CosmeticSelection" />
        <activity android:name=".cosmetic.SnakeShop" />
        <activity android:name=".GameScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>