<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ctprojekt">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTProjekt">
        <activity android:name=".GoogleSignInActivity"></activity>
        <activity
            android:name=".FirebaseUIActivity"
            android:label="@string/title_activity_firebase_u_i"
            android:theme="@style/Theme.CTProjekt.NoActionBar" />
        <activity
            android:name=".flappybird.GameOverScreenFlappyBird"
            android:screenOrientation="landscape" />
        <activity android:name=".tictactoe.TicTacToeActionActivity" />
        <activity
            android:name=".flappybird.FlappyBirdActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".flappybird.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".snake.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".snake.SnakeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".memory.MemoryDifficulty" />
        <activity android:name=".cosmetic.CosmeticSelection" />
        <activity android:name=".cosmetic.CosmeticShop" />
        <activity android:name=".memory.Memory" />
        <activity android:name=".tictactoe.TicTacToe" />
        <activity android:name=".Options" />
        <activity android:name=".cosmetic.Cosmetics" />
        <activity android:name=".MusicScreen" />
        <activity android:name=".GameScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>